{% extends 'base.html' %}
{% load static %}
{% load l10n %}

{% block content %}

    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">

                <div class="col-lg-9">

                    {% for object in object_list %}
                    <div class="blog-item">
                        <div class="bi-pic">
                            <img width="420px" src="/media/{{ object.main_photo }}" alt="">
                        </div>
                        <div class="bi-text">
                            <div class="label">{{ object.main_tag }}</div>
                            <h5><a href="{% url 'blog_detail' object.id %}">{{ object.title }}...</a>
                            </h5>
                            <ul>
                                <li>{{ object.date|date:"d/m/Y" }}</li>
                            </ul>
                            <p>{{ object.pre_text| striptags | safe | escape }}</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="blog-pagination">
                        {% if paginator.num_pages > 1 %}
                            {% if object_list.number != 1 and object_list.number != 2 %}
                                <a href="?page=1">&laquo;</a>
                            {% endif %}

                            {% if previous_page %}
                                <a href="?page={{ previous_page }}">{{ previous_page }}</a>
                            {% endif %}

                            <a href="?page={{ current_page }}" style="color:red;">{{ current_page }}</a>

                            {% if next_page %}
                                <a href="?page={{ next_page }}">{{ next_page }}</a>
                            {% endif %}

                            {% if object_list.number != paginator.num_pages %}
                                <a href="?page={{ paginator.num_pages }}">&raquo;</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="blog-sidebar">
                        <div class="bs-item s-mb">
                            <h5>Feature posts</h5>
                            <div class="bi-feature-post">
                                {% for object in feature_post %}
                                <a href="{% url 'blog_detail' object.id %}" class="fp-item">
                                    <div class="fp-pic">
                                        <img width="90px" src="/media/{{ object.main_photo }}" alt="">
                                    </div>
                                    <div class="fp-text">
                                        <h6>{{ object.title }}</h6>
                                        <span>{{ object.date|date:"d/m/Y"  }}</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

{% endblock %}
