{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% load price_extras %}

{% block content %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
   <!-- Portfolio Section Begin -->
   <section class="portfolio-section portfolio-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our latest works</h2>
                    </div>
                    <div class="filter-controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            {% for category in categories %}
                                <li data-filter=".{{ category.name }}">{{ category.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row portfolio-row">
                <div class="col-lg-12 p-0">
                    <div class="portfolio-filter">
                        {% for item in portfolio %}
                        <div class="pf-item set-bg {{ item.wh_class }} {% for filter_ in item.category.all %}{{ filter_.name }} {% endfor %}"
                             data-setbg="/media/{{ item.image }}">
                            <a href="/media/{{ item.image }}" class="pf-icon image-popup"><span class="icon_plus"></span></a>
                            <div class="pf-text">
                                <h4>{{ item.title }}</h4>
                                <span>{% for filter_ in item.category.all %}{{ filter_.name }} {% endfor %}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="load-more-btn">
            <a id="load_more" onclick="loadPic()" page="0">Load More</a>
        </div>
    </section>
    <!-- Portfolio Section End -->

<script>
    $( document ).ready(function() {
        page = $( ".pf-item" ).length;
        $("#load_more").attr("page", page);
    });
    function loadPic(){

        // var div_start = '<div class="container-fluid"><div class="row"><div class="col-lg-12 p-0"><div class="portfolio-filter">';
        // var div_end = '</div></div></div></div>';
        var div_start = '<div class="row portfolio-row"><div class="col-lg-12 p-0"><div class="portfolio-filter">';
        var div_end = '</div></div></div>';
        $.ajax({
            url: "{% url 'api_load' %}",
            data: {"page": Number($("#load_more").attr("page"))},
            method: "POST",
            success: function(data_dict) {
                console.log(Object.keys(data_dict)[0]);
                if (Object.keys(data_dict)[0] === "last") {
                    $("#load_more").hide();
                }
                var data = Object.values(data_dict)[0];
                $( data ).each(function() {
                    var temp_div = '<div class="pf-item set-bg ' + this[2] + '" data-setbg="';
                    var temp_div2 = '" style="background-image: url(&quot;';
                    var temp_div3 = '&quot;);">'
                    var temp_link = '<a href="' + this[0] + '" class="pf-icon image-popup"><span class="icon_plus"></span></a>'
                    var temp_title = '<div class="pf-text"><h4>' + this[1] + '</h4><span>' + this[2] + '</span></div>'
                    var temp_end = '</div>';
                    div_start += temp_div + this[0] + temp_div2 + this[0] + temp_div3 + temp_link + temp_title + temp_end;
                });
                div_start += div_end;
                $( ".portfolio-row" ).last().after(div_start).show();

                $('.image-popup').magnificPopup({
                    type: 'image'
                });

                var page = Number($("#load_more").attr("page"));
                page += $( data ).length;
                $("#load_more").attr("page", page);
            }
        });
    };
</script>

{% endblock %}