<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Phozogy Template">
    <meta name="keywords" content="Phozogy, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phozogy | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    {% include "css_styles.html" %}
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    {% include "header.html" %}
    <!-- Header End -->

    {% if not home %}
    <!-- Breadcrumb Begin -->

    <div class="breadcrumb-option spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bo-links">
                        <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                        <span>{{ breadcrumb }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Breadcrumb End -->
    {% endif %}

{% block content %}
{% endblock %}
{% include "footer.html" %}
</body>
</html>