{% load static %}
<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </a>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li {% if home %} class="active" {% endif %}><a href="{% url 'index' %}">Home</a></li>
                        <li {% if about %} class="active" {% endif %}><a href="{% url 'about' %}">About</a></li>
                        <li {% if services %} class="active" {% endif %}><a href="{% url 'services' %}">Services</a></li>
                        <li {% if prices %} class="active" {% endif %}><a href="{% url 'price_list' %}">Pricing</a></li>
                        <li {% if portfolio %} class="active" {% endif %}><a href="./portfolio.html">Portfolio</a></li>
                        <li {% if blog %} class="active" {% endif %}><a href="{% url 'blog_list' %}">Blog</a></li>
                        <li {% if contact %} class="active" {% endif %}><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </nav>

                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </div>
</header>